#init.rc for vivo

on boot
    # vivo nielichao add for camera begin
    mkdir /mnt/vendor/nvcfg/camera 0777 system system
    # vivo nielichao add for camera end

    # vivo gaoyongjing add for camera begin
    mkdir /data/vendor/camera 0777 system system
    # vivo gaoyongjing add for camera end

    # vivo wangjiewen add for zram begin
    mkdir /data/vendor/swap 0770 root system
    # vivo wangjiewen add for zram end

# vivo wumengxiang add for MTK TCP/IP PARA begin
on property:persist.vivo.mtk.networkstate_tcp_parameter.enable=true
    write /proc/sys/net/ipv4/tcp_orphan_retries 3
# vivo wumengxiang add for MTK TCP/IP PARA end

# vivo wangjiewen add for zram begin
service reconfig_zramsize /vendor/bin/zramsize_reconfig.sh
    class main
    user root
    group root
    oneshot

on property:init.svc.reconfig_zramsize=stopped
    chmod 0666 /sys/block/zram0/writeback_limit
    chmod 0666 /sys/block/zram0/writeback_limit_enable
    chmod 0666 /sys/block/zram0/zram_wb/stat
    chmod 0666 /sys/block/zram0/zram_wb/enable
# vivo wangjiewen add for zram end

